services:
	- DTForce\DoctrineMigrations\Tests\Configuration\ConfigurationSource\SomeService


extensions:
	- DTForce\NetteConsole\DI\ConsoleExtension
	doctrine: DTForce\DoctrineExtension\DI\DoctrineExtension
	migrations: DTForce\DoctrineMigrations\DI\MigrationsExtension



doctrine:
	connection:
		driver: pdo_sqlite
		memory: TRUE


migrations:
	directory: %appDir%/Migrations
	namespace: DTForce\DoctrineMigrations\Tests\Migrations
